<div class="panel panel-default">
  <div class="panel-body">
    <h4 align="center">Trade Info</h4>
    <form class="form" id="trade">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              ETH Contract
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Sender</label>
                <pre id="sender"></pre>
              </div>
              <div class="form-group">
                <label>Redeemer</label>
                <pre id="redeemer"></pre>
              </div>
              <div class="form-group">
                <label>H(X)</label>
                <pre id="hash"></pre>
              </div>
              <div class="form-group">
                <label>Amount</label>
                <div class="input-group">
                  <span id="amount" class="form-control"></span>
                  <div class="input-group-addon">wei</div>
                </div>
              </div>
              <div class="form-group">
                <label>Timeout Block</label>
                <div id="timeoutBlock" class="form-control"></div>
              </div>
              <div class="form-group">
                <label>Transaction Hash</label>
                <pre id="ethContractTx"></pre>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              ZEC Contract
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Sender</label>
                <pre id="senderZAddr"></pre>
              </div>
              <div class="form-group">
                <label>Redeemer</label>
                <pre id="redeemerZAddr"></pre>
              </div>
              <div class="form-group">
                <label>Transaction Hash</label>
                <pre id="zecContractTx"></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>