<div class="panel panel-default">
  <div class="panel-body">
    <h2 align="center">Trade</h2>
    <form class="form" id="trade">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              ETH HashLock Contract
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Initializer (A)</label>
                <pre id="sender"></pre>
              </div>
              <div class="form-group">
                <label>Redeemer (B)</label>
                <pre id="redeemer"></pre>
              </div>
              <div class="form-group">
                <label>H(X)</label>
                <pre id="hash"></pre>
              </div>
              <div class="form-group">
                <label>Amount</label>
                <div class="input-group">
                  <span id="amount" class="form-control"></span>
                  <div class="input-group-addon">wei</div>
                </div>
              </div>
              <div class="form-group">
                <label>Timeout Block</label>
                <div id="timeoutBlock" class="form-control"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              ZEC HashLock Contract
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Initializer (B)</label>
                <pre id="redeemerZAddr"></pre>
              </div>
              <div class="form-group">
                <label>Redeemer (A)</label>
                <pre id="senderZAddr"></pre>
              </div>
              <div class="form-group">
                <label>Redeem Block</label>
                <pre id="redeemblocknum"></pre>
              </div>
              <div class="form-group">
                <label>Funding Txid</label>
                <pre id="fundTx"></pre>
              </div>
              <div class="form-group">
                <label>Amount</label>
                <div class="input-group">
                  <span id="zecAmount" class="form-control"></span>
                  <div class="input-group-addon">wei</div>
                </div>
              </div>
              <div class="form-group">
                <label>P2SH</label>
                <pre id="p2sh"></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
