<% include ../../partials/header %>

  <div class="row">
    <div class="col-md-12">
      <h1 align="center">Initialize</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          You
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="form-group">
              <label>Ethereum Address</label>
              <input id="senderAccount" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label>ZCash Address</label>
              <div class="input-group">
                <input id="senderZAddr" type="text" class="form-control" placeholder="" />
                <span class="input-group-btn">
                  <button type="button" id="newAddressBtn" class="btn btn-default">New Address</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Counterparty
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="form-group">
              <label>Ethereum Address</label>
              <input id="redeemerAccount" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label>ZCash Address</label>
              <input id="redeemerZAddr" type="text" class="form-control" placeholder="" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">

      <div class="row">
        <div class="form-group col-md-6">
          <label>Amount of Ether</label>
          <div class="input-group">
            <input id="amount" type="text" class="form-control" placeholder="" />
            <div class="input-group-addon">
              wei
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label>Amount of Zcash</label>
            <div class="input-group">
              <input id="zecAmount" type="text" class="form-control" placeholder="" />
              <div class="input-group-addon">
                zec
              </div>
            </div>
        </div>
      </div>

      <div id="preimageRequiredError" class="alert alert-danger hidden">Preimage is required.</div>

      <a id="senderDetailsLink" data-toggle="collapse" href="#senderDetails" aria-expanded="false" aria-controls="senderDetails">View Details</a>
        <div class="collapse" id="senderDetails">
          <div class="well">
            <div class="form-group">
              <label>Secret preimage used to redeem funds:</label>
              <div class="input-group">
                <input id="randomX" type="text" class="form-control" placeholder="" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="newPreimageBtn">Random</button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Hash of preimage that will commit funds on blockchain:</label>
              <pre id="hashRandomX"></pre>
            </div>
            <div class="form-group">
              <label>Number of blocks before tx expires and is refunded:</label>
              <div class="input-group">
                <input id="blocksToWait" type="number" class="form-control" min="1" placeholder="#" value="20" />
                <span class="input-group-addon">blocks later</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary" id="prepTrade" style="margin-right: 20px;">Prepare Trade</button>
          <button type="button" class="btn btn-primary" id="lockBtn">Submit Trade</button>
        </div>
        <div id="prepMessage"></div>
        <div id="p2shMessage"></div>
        <div id="lockMessage"></div>
    </div>
  </div>

  <script src="/static/js/eth-init.js"></script>
  <script src="/static/js/bundle.js"></script>


<% include ../../partials/footer %>
