<% include ../../partials/header %>

  <div class="row">
    <div class="col-md-12">
      <h1 align="center">Initialize</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          You
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="form-group">
              <label>Ethereum Address</label>
              <input id="senderAccount" type="text" class="form-control" placeholder="" />
            </div>
            <div class="well">
              <div class="form-group">
                <label>Password</label>
                <div class="input-group">
                  <input id="password" type="password" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" id="newAddressBtn" class="btn btn-default">New Address</button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label>ZCash Address</label>
                <span id="senderZAddr" type="text" class="form-control" placeholder=""></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Counterparty
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="form-group">
              <label>Ethereum Address</label>
              <input id="redeemerAccount" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label>ZCash Address</label>
              <input id="redeemerZAddr" type="text" class="form-control" placeholder="" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="form-group">
        <label>Amount</label>
        <div class="input-group">
          <input id="amount" type="text" class="form-control" placeholder="" /> 
          <div class="input-group-addon">
            wei
          </div>
        </div>
      </div>
      <a id="senderDetailsLink" data-toggle="collapse" href="#senderDetails" aria-expanded="false" aria-controls="senderDetails">View Details</a>
        <div class="collapse" id="senderDetails">
          <div class="well">
            <div class="form-group">
              <label>X</label>
              <div class="input-group">
                <input id="randomX" type="text" class="form-control" placeholder="" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="newPreimageBtn">Refresh</button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>H(X)</label>
              <pre id="hashRandomX"></pre>
            </div>
            <div class="form-group">
              <label>Expires</label>
              <div class="input-group">
                <input id="blocksToWait" type="number" class="form-control" min="1" placeholder="#" value="4" />
                <span class="input-group-addon">blocks later</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-primary" id="lockBtn">Lock</button>
        </div>
        <div id="lockMessage"></div>
    </div>
  </div>

  <script src="/static/js/eth-init.js"></script>
  <script src="/static/js/bundle.js"></script>


<% include ../../partials/footer %>