<% include ../../partials/header %>

  <div class="row">
    <div class="col-md-12">
      <h1 align="center">Initialize Swap</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Alice
        </div>
        <div class="panel-body">
          <form class="form" role="">
            <div class="form-group">
              <label>Sender (Ethereum Address)</label>
              <input id="senderAccount" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label>Sender (ZCash Address)</label>
              <input id="senderZAddr" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label>Amount</label>
              <div class="input-group">
                <input id="amount" type="text" class="form-control" placeholder="Amount" /> 
                <div class="input-group-addon">
                  wei
                </div>
              </div>
            </div>
            <a id="senderDetailsLink" data-toggle="collapse" href="#senderDetails" aria-expanded="false" aria-controls="senderDetails">View Details</a>
            <div class="collapse" id="senderDetails">
              <div class="well">
                <div class="form-group">
                  <label>X</label>
                  <input id="randomX" type="text" class="form-control" placeholder="X" />
                </div>
                <div class="form-group">
                  <label>H(X)</label>
                  <pre id="hashRandomX"></pre>
                </div>
                <div class="form-group">
                  <label>Expires</label>
                  <div class="input-group">
                    <input id="blocksToWait" type="number" class="form-control" min="1" placeholder="#" value="4" />
                    <span class="input-group-addon">blocks later</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <button type="button" class="btn btn-default" id="lockBtn">Lock</button>
            </div>
          </form>
          <div id="lockMessage"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bob
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="form-group">
              <label>Redeemer (Ethereum Address)</label>
              <input id="redeemerAccount" type="text" class="form-control" placeholder="" />
            </div>
            <div class="form-group">
              <label>Redeemer (ZCash Address)</label>
              <input id="redeemerZAddr" type="text" class="form-control" placeholder="" />
            </div>
            <a id="redeemerDetailsLink" data-toggle="collapse" href="#redeemerDetails" aria-expanded="false" aria-controls="redeemerDetails">View Details</a>
            <div class="collapse" id="redeemerDetails">
              <div class="well">
                <div class="form-group">
                  <label>Trade ID</label>
                  <input id="tradeId" type="number" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                  <label>Preimage</label>
                  <input id="preimage" type="text" class="form-control" placeholder="" />
                </div>
              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-default" id="unlockBtn">Unlock</button>
              </div>
            </div>
            <div id="unlockMessage"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

<% include ../../partials/footer %>