<% include ../../partials/header %>

<div class="row">
	<div class="col-md-12">
  		<h1 align="center">Review</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<% include ../../partials/trade %>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
	        <div class="panel-heading">
	          Fund
	        </div>
	        <div class="panel-body">
	        	<form class="form" method="post" action="/api/zec/fund">
	        		<div class="form-group">
	        			<label>Amount</label>
	        			<input id="zecAmount" type="number" class="form-control" />
	        		</div>
					<p>
						By funding <b><%= p2sh %></b> you are agreeing to this trade.
					</p>
					<center>
						<button class="btn btn-default" type="submit">Agree</button>
					</center>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/review.js"></script>

<% include ../../partials/footer %>