<% include ../../partials/header %>

<div class="row">
	<div class="col-md-12">
  		<h1 align="center">Review</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% include ../../partials/trade %>

		<div class="panel panel-default">
	        <div class="panel-heading">
	          Agreement
	        </div>
	        <div class="panel-body">
	        	<div class="form-group">
					By funding you are agreeing to this trade.
				</div>
				<center>
					<button class="btn btn-primary" type="button" id="signBtn">Fund</button>
				</center>
			</div>
		</div>

		<div id="fundSuccessMessage" class="alert alert-success hidden">
			Successfully funded contract (tx: <span id="txHash"></span>).
		</div>
	</div>
</div>

<script src="/static/js/zec-init.js"></script>

<% include ../../partials/footer %>
