<% include ../partials/header %>

<div class="row">
	<div class="md-12-col">
		<h1>Zcash <-> Eth Atomic Swap</h1>
		<p>
			Suppose Alice agees to trade 5 ETH with Bob for 7 ZEC.
		</p>
		<ol>
			<li>Both Alice and Bob <a href="/setup">create a wallet</a>. </li>
			<li>Alice <a href="/trade/init">initializes</a> an atomic swap contract.</li>
			<li>Bob <a href="/trade/review">reviews</a> the terms of the contract and signs off on it.</li>
			<li>Alice <a href="/trade/settlement">settles</a> the contract.</li>
		</ol>
	</div>
</div>

<% include ../partials/footer %>